@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8ebe6;
  --foreground: #0e0f0c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-weight: 900;
  letter-spacing: -0.02em;
}
