@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #9fe870;
  --color-primary-active: #cdffad;
  --color-primary-neutral: #c5edab;
  --color-primary-pale: #e2f6d5;
  --color-canvas: #ffffff;
  --color-canvas-soft: #e8ebe6;
  --color-ink: #0e0f0c;
  --color-ink-deep: #163300;
  --color-body: #454745;
  --color-mute: #868685;
  
  --color-positive: #2ead4b;
  --color-positive-deep: #054d28;
  --color-warning: #ffd11a;
  --color-warning-deep: #b86700;
  --color-warning-content: #4a3b1c;
  --color-negative: #d03238;
  --color-negative-deep: #a72027;
  --color-negative-darkest: #a7000d;
  --color-negative-bg: #320707;
  
  --color-accent-orange: #ffc091;
  --color-accent-cyan: #38c8ff;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", "Inter", sans-serif;

  --radius-xl: 24px;
}

:root {
  --background: #e8ebe6;
  --foreground: #0e0f0c;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Base Headings Style to align with Wise displays */
h1, h2, h3, h4 {
  font-family: var(--font-display);
  font-weight: 900;
  color: #0e0f0c;
}
